html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/*background: url('images/usingLaptop.jpg') 50% 50% no-repeat;*/
	/*background-size: cover;*/
	background-color: lightblue;
	display: table;
}

.nav-header-main {
	background: #000;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	/*color: #fff;*/
}

.header-logo {
	color: white;
	font-size: 35px;
	line-height: 35px;
	padding: 0 100px;
	font-weight: bold;
}

.header-h2 {
	position: absolute;
	top: 20%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid #fff;
	border-radius: 10px;
	width: 600px;
	padding: 25px;
	box-sizing: border-box;
	background: rgb(0.2,0,0,0.8);
}

.header-banner {
	position: absolute;
	top: 20%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid #fff;
	border-radius: 10px;
	width: 600px;
	padding: 25px;
	box-sizing: border-box;
	background: rgb(0.2,0,0,0.8);
}

.nav-header-main ul {
	float: right;
	margin-right: 20px;
}

.nav-header-main ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 13px;
}

.nav-header-main ul li a{
	color: white;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
<<<<<<< Updated upstream
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 10;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
=======
	/*z-index: 1; /* Stay on top */
	top: 65; /* Stay at the top */
	left: 0;
	background-color: white; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px; /* Place content 10px from the top */
>>>>>>> Stashed changes
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	border: 2px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: darkblue;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: navy;
}

.formstyle {
	position: absolute;
	top: 55%;
	left: auto;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid #fff;
	border-radius: 10px;
	width: 600px;
	padding: 25px;
	box-sizing: border-box;
	background: rgb(0.2,0,0,0.8);
}

/*.titleStyle h2{
	top: 55%;
	left: auto;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid #fff;
	border-radius: 10px;
	width: 400px;
	padding: 25px;
	box-sizing: border-box;
	background: rgb(0.2,0,0,0.8);
}*/

.formstyle h2 {
	font-weight: lighter;
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.formstyle p {
	color: white;
	font-size: 24px;
}

input {
	width: 100%;
	outline: none;
	color: white;
	font-size: 24px;
	margin-bottom: 30px;
	padding-left: 10px;
	border-bottom: 2px solid #fff;
	position: relative;
	background: transparent;
}

button {
	width: 100%;
	height: 40px;
	font-size: 24px;
	background: #000;
	font-weight: lighter;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
}

.textStyle p {
	color: white;
}

.footerStyle h5{
	position: fixed;
	bottom: 0;
}