body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: bold; */
    font-size: 20px;   
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 50px 1fr 1fr 50px;
    /* gap: 10px; */
    /* padding: 10px; */
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    /* border: 1px solid #000000; */
}

.header {
    background-color:#ac9766;
    grid-column-start: 1;
    grid-column-end: 3;
}

.nameLogo {
    float: left;
    text-shadow: 4px 4px 4px black;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 35px;
}

.options {
    float: right;
    padding: 100px 0px 0px 20px;
}

.options a {
    text-shadow: 4px 4px 4px black;
    text-align: right;
    text-decoration: none;
    color: blanchedalmond;
    padding-right: 20px;
}

.side-nav {
    grid-row-start: 3;
    grid-row-end: span 2;
    background-color:#ac9766;
    text-align: center;
    color: black;
}

.button {
    background-color:#FFE4C4;
    border: none;
    box-shadow: 5px 5px 3px black;
    border-radius:10px;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 175px;
    height: 40px;
}

.button:hover {
    background-color: white;
    color:#ac9766;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}

.contact {
    display: inline;
    font-size: 15px;
    line-height: 0.5%;
}