* { 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
} 

body { 
    /*font-size: 120%; */
    background: #F8F8FF; 
}

/*-----------------------------Top Navigation Bar-----------------------------*/
.topnav {
  background-color: white;
  box-shadow: 4px 4px 4px grey;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 1;
  height: 10%;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: #065b7a;
  margin: 2px;
}

.topnav a:hover {
  background-color: #1177d1;
  color: white;
  font-weight: bold;
  /*opacity: 0.7;*/
}

.topnav a.active {
  background-color: #1177d1;
  color: white;
}

a.disabled {
  pointer-events: none;
  cursor: none;
}

/*-----------------------------Breadcrumbs-----------------------------*/

ul.breadcrumbs {
    list-style: none;
    background-color: white;
    box-shadow: 4px 4px 4px grey;
    overflow: hidden;
    padding: 10px 16px;
    /*width: 100%;
    height: 40px;
    */position: relative;
    z-index: 0;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumbs li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumbs li a {
    overflow: hidden;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.7;
}

ul.breadcrumbs li.active {
    overflow: hidden;
    color: #065b7a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.breadcrumbs li a:hover {
    overflow: hidden;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #065b7a;
    color: white;
    font-weight: bold;
}

/*-----------------------------Footer-----------------------------*/
.footer {
    bottom: 0;
    /* position: absolute; */
    background-color: #065b7a;
    color: white;
    font-size: 18px;
    text-align: center;
    /* position: absolute; */
    flex-shrink: 0;
    z-index: -2;
    width: 100%;
    padding-top: 15px;
    height: 94px;
    border-top: 3px solid grey;
    /* margin-top: 35px; */
    margin-bottom: auto;
}

/*-----------------------------Home Page Image-----------------------------*/
.home_image {
  background-image: url("../img/bg_final.jpg");
  background-color: #065b7a;
  /*opacity: 0.7;*/
  height: 627.9px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* margin-bottom: 12px; */
}

.heading {
  padding-top: 12%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 7%;
  color: white;
  font-size: 24px;
  height: 627.9px;
  background: rgba(0, 0, 0, 0.7);
}

.heading h2, h3{
  text-align: center;
}

.heading button{
  margin-left: 39%;
}

.heading img{
  height: 100px;
  padding: 5px 5px 2px 5px;
  margin-left: 45%;
}

.loginbtn {
  background-color: #065b7a;
  color: ivory;
  width: 20%;
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 15%;
  border: 0;
  border-radius: 10px;
}

.loginbtn:hover {
    background-color: #1177d1;
    color: white;
    font-weight: bold;
    border: 0;
}

/*-------------------------Login Form Style-------------------------*/
.loginForm {
  background-color: #ced4da;
  /*max-width: 80%;*/
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 162px;
  margin-bottom: 162px;
  height: auto;
  /*border: 3px solid grey;*/
  box-shadow: 4px 4px 4px grey;
  border-radius: 10px;
  /*opacity: 0.5;*/
}

.col-50l {
  float: left;
  width: 50%;
  box-shadow: 4px 0px grey;
  /*margin-top: 6px;*/
}

.col-50r {
  float:right;
  width: 50%;
  /*margin-top: 6px;*/
}

.loginForm h2 {
  font-size: 26px;
  color: white;
  background-color: #1177d1;
  text-align: center;
  padding: 10px;
  /*border-bottom: 3px solid grey;*/
  /*box-shadow: 4px 4px 4px grey;*/
  /*margin-bottom: 10px;*/
}

.loginForm span {
  margin-left: 10%;
  height: 40px;
  color: #065b7a;
  font-size: 20px;
  margin-right: 5px;
}

.loginForm input {
  width: 70%;
  /*background-color: white;*/
  height: 40px;
  margin-top: 25px;
  margin-right: 10%;
  font-size: 18px;
  border: 0;
  padding-left: 3%;
  border-radius: 10px;
}

.loginForm button {
  width: 30%;
  background-color: #065b7a;
  color: white;
  height: 40px;
  margin-top: 25px;
  margin-left: 32%;
  margin-bottom: 5%;
  border-radius: 10px;
}

.loginForm button:hover {
  background-color: #1177d1;
  font-weight: bold;
}

.sentence1 {
  float: left;
  margin-left: 15%;
  /*padding-top: 10px;*/
  font-size: 18px;
  /*margin-top: 6%;*/
  color: #065b7a;
  margin-bottom: 10px;
}

/*.sentence2 {
  float: right;
  margin-right: 5%;
  margin-top: 6%;
  padding-top: 10px;
  font-size: 22px;
}*/

.sentence1 a {
  color: #065b7a;
  font-size: 18px;
  text-decoration: none;
}

.sentence1 a:hover {
  color: crimson;
  font-size: 20px;
  text-decoration: underline;
}

/*-------------------------Sign Up Form Style-------------------------*/
.signupForm {
  width: 50%;
  height: 80%;
  margin: 0px auto;
  border: 1px solid #B0C4DE;
  background-color: #ced4da;
  box-shadow: 2px 2px 2px 2px grey;
  margin-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 35px;
  border-radius: 10px;
}

.signupForm p {
  margin-top: 10px;
  width: 80%;
  text-align: justify;
}

.signupForm h2 {
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 6px;
  border-bottom: 3px solid grey;
  /*box-shadow: 4px 4px 4px grey;*/
  background-color: #065b7a;
}

.signupForm select {
  border-radius: 10px;
}

.signupForm label {
  /*padding-left: 5%;*/
  padding: 20px 12px 12px 0;
  display: inline-block;
  font-size: 18px;
  margin-left: 5%;
  margin-top: 10px;
}

.signupForm input {
  width: 80%;
  /*background-color: white;*/
  height: 40px;
  margin-top: 25px;
  margin-right: 5%;
  font-size: 18px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
}

.changeroleForm {
  width: 50%;
  height: 80%;
  margin: 0px auto;
  border: 1px solid #B0C4DE;
  background-color: #ced4da;
  box-shadow: 2px 2px 2px 2px grey;
  margin-top: 213px;
  padding-bottom: 5%;
  margin-bottom: 213px;
  border-radius: 10px;
}

.changeroleForm p {
  margin-top: 10px;
  width: 80%;
  text-align: justify;
}

.changeroleForm h2 {
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 6px;
  border-bottom: 3px solid grey;
  /*box-shadow: 4px 4px 4px grey;*/
  background-color: #065b7a;
}

.changeroleForm select {
  border-radius: 10px;
}

.changeroleForm label {
  /*padding-left: 5%;*/
  padding: 20px 12px 12px 0;
  display: inline-block;
  font-size: 18px;
  margin-left: 5%;
  margin-top: 10px;
}

.changeroleForm input {
  width: 80%;
  /*background-color: white;*/
  height: 40px;
  margin-top: 25px;
  margin-right: 5%;
  font-size: 18px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
}

.changeroleForm button {
  color: white;
  font-size: 22px;
  width: 40%;
  float: left;
  margin-left: 5%;
  height: 40px;
  margin-top: 2%;
  border-radius: 10px;
}

.changeroleForm .signupbtn {
  background-color: #065b7a;
  border: 0;
}

.changeroleForm .cancelbtn {
  background-color: crimson;
  border: 0;
}

.changeroleForm .signupbtn:hover {
  background-color: #1177d1;
  font-weight: bold;
} 

.changeroleForm .cancelbtn:hover {
  opacity: 0.7;
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25 {
  float: left;
  width: 25%;
  /*margin-top: 6px;*/
}

.col-75 {
  float: left;
  width: 75%;
  /*margin-top: 6px;*/
}

.col-75 a {
  font-size: 24px;
  text-decoration: none;
}

.col-75 a:hover {
  color: #1177d1;
}

/* .col-75 textarea{
  margin-top: 25px;
  width: 516px;
  height: 74px;
  border: none;
  border-radius: 10px;
} */

.signupForm button {
  color: white;
  font-size: 22px;
  width: 40%;
  float: left;
  margin-left: 5%;
  height: 40px;
  margin-top: 2%;
  border-radius: 10px;
}

.signupForm .signupbtn {
  background-color: #065b7a;
  border: 0;
}

.signupForm .cancelbtn {
  background-color: crimson;
  border: 0;
}

.signupForm .signupbtn:hover {
  background-color: #1177d1;
  font-weight: bold;
} 

.signupForm .cancelbtn:hover {
  opacity: 0.7;
  font-weight: bold;
}

/*-----------------------------Left nav-tree view-----------------------------*/
/* Remove default bullets */
ul, #tree-view {
  list-style-type: none;
  text-align: left;
}

/* Remove margins and padding from the parent ul */
#tree_view {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.tree_list {
  text-align: left;
  margin-bottom: 0%;
  margin-top: 0%;
  border: 2px solid white;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  color: white;
  font-size: 20px;
  /*font-weight: bold;*/
  padding-left: 5%;
  background-color: #065b7a;
  width: 95%;
  height: 55px;
  padding: 3px;
}

.tree_list.active {
  color: #fff;
  background-color: #1177d1;
  border-color: #1177d1;
}

.tree_list:hover {
  background-color: #1177d1;
  font-weight: bold;
  /*opacity: 0.7;*/
}

.tree_list a{
  color: white;
}

/* Create the caret/arrow with a unicode, and style it */
.tree_list::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 10px;
  color: white;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree_list-down::before {
  transform: rotate(270deg);
  color: white;
}

/* Hide the nested list */
.tree_nest {
  display: none;
  font-size: 18px;
  /*padding-left: 10%;*/
}

.tree_nest button {
  text-align: left;
  margin-bottom: 0%;
  margin-top: 0%;
  border: 2px solid #065b7a;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  color: white;
  font-size: 18px;
  padding-left: 8%;
  background-color: white;
  width: 95%;
  height: 55px;
  padding: 3px;
}

.tree_nest a{
  color: darkslateblue;
  text-decoration: none;
  font-size: 20px;
}

.tree_nest a:hover{
  font-weight: bold;
  color: #065b7a;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  border: 0;
}

/*-------------------------Arranging home page of users---------------------*/
.column {
  float: left;
  padding: 10px;
  min-height: 600px;
  height: auto;
  /*box-shadow: 4px 0px grey;*/
  padding-top: 10px;
}

.left, .right {
  width: 20%;
  border-right: 5px solid grey;
}

.middle {
  width: 60%;
  /*border-left: 5px solid grey;*/
  border-right: 5px solid grey;
}

.middle h2 {
  width: 100%;
  font-size: 26px;
  background-color: #065b7a;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.middle2 {
  width: 80%;
}

/*-------------------------Image styles------------------------*/
.imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    padding-left: 25%;
    width: 200px;
}

.logocontainer {
  text-align: center;
  /*margin: 10px 0 10px 0;*/
  /*border-radius: 4px;*/
  padding-left: 15%;
  /*width: 100%;*/
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    object-position: center;
}

.btncontainer button {
  color: white;
  font-size: 22px;
  width: 40%;
  float: left;
  margin-left: 25%;
  height: 40px;
  margin-top: 4%;
  background-color: #065b7a;
  color: ivory;
  border: 0px;
  border-radius: 10px;
}

.btncontainer button:hover {
  background-color: cornflowerblue;
  border: 0px;
  font-weight: bold;
}

/*-------------------------Arranging normal pages of users-------------------*/
.col {
  float: left;
  padding-left: 10px;
  min-height: 600px;
  height: auto;
  box-shadow: 4px 0px grey;
  padding-top: 10px;
}

.left20 {
  width: 15%;
}

.right80 {
  width: 85%;
}

.right80 h2 {
  /*width: 95%;*/
  font-size: 26px;
  background-color: #065b7a;
  color: white;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

/*-------------------------Content Form-------------------*/

.contentForm {
  background-color: #ced4da;
  /*max-width: 80%;*/
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  height: auto;
  /*border: 3px solid grey;*/
  box-shadow: 4px 4px 4px grey;
  border-radius: 10px;
  /*opacity: 0.5;*/
}

.contentForm h2 {
  font-size: 24px;
  background-color: #065b7a;
  text-align: center;
  padding: 6px;
  /*border-bottom: 3px solid grey;*/
  /*box-shadow: 4px 4px 4px grey;*/
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contentForm h3 {
  margin-left: 5%;
  margin-top: 20px;
  font-size: 22px;
  text-decoration: underline;
}

.contentForm h4 {
  margin-left: 5%;
  margin-top: 20px;
  font-size: 20px;
}

.contentForm input, select {
  width: 80%;
  /*background-color: white;*/
  min-height: 40px;
  margin-top: 25px;
  margin-right: 0px;
  font-size: 18px;
  border: 0px;
  padding-left: 15px;
  border-radius: 10px;
}

.contentForm datalist{
  width: 80%;
  /*background-color: white;*/
  min-height: 40px;
  margin-top: 25px;
  margin-right: 0px;
  font-size: 18px;
  border: 0px;
  padding-left: 15px;
  border-radius: 10px;
}

.contentForm label {
  padding: 20px 12px 12px 0;
  display: inline-block;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 4%;
  text-align: justify;
}

.longTxt {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  /*background-color: white;*/
  height: 200px;
  margin-top: 25px;
  margin-right: 10%;
  font-size: 18px;
  border: 0px;
  padding-left: 15px;
  border-radius: 10px;
}

/*-------------------------Profile Form-------------------*/

.profileForm {
  background-color: #ced4da;
  /* max-width: 500px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  height: auto;
  border: 3px solid blue;
  box-shadow: 4px 4px 4px grey;
  margin-bottom: 35px;
  /*opacity: 0.5;*/
  display: block;
  border-radius: 10px;
}

.profileForm label {
  /* margin: 20px;
  padding: 40px 12px 12px 0; */
  display: block;
  padding: 5px;
}

.profileForm input {
  /* margin-left: 30px;
  display: block; */
  width: 100%;
  border: 2px solid #2980b9;
  padding-left: 15px;
  border-radius: 10px;
} 

/*-------------------------Buttons-------------------*/

.mainbtn {
  width: 30%;
  background-color: #065b7a;
  color: white;
  height: 40px;
  margin-top: 25px;
  margin-left: 35%;
  margin-bottom: 2%;
  font-size: 18px;
  border: 0px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

.mainbtn:hover {
  background-color: #1177d1;
  font-weight: bold;
}

.mainbtn a {
  color: white;
  text-decoration: none;
}

.subbtn {
  width: 30%;
  background-color: #1177d1;
  color: ivory;
  height: 40px;
  margin-top: 2%;
  margin-left: 15%;
  border: 0px;
  font-size: 18px;
  margin-bottom: 3%;
  border: 0;
  border-radius: 10px;
}

.subbtn a {
  color: white;
  text-decoration: none;
}

.subbtn:hover {
  background-color: #065b7a;
  color: white;
  font-weight: bold;
}

.cancelbtn {
  width: 30%;
  background-color: crimson;
  color: white;
  height: 40px;
  margin-top: 1%;
  margin-left: 3%;
  border: 0px;
  font-size: 18px;
  margin-bottom: 3%;
  border: 0;
  border-radius: 10px;
}

.cancelbtn a {
  text-decoration: none;
  color: white;
}

.cancelbtn:hover {
  opacity: 0.7;
  font-weight: bold;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}


/*-------------------------Styling tables-------------------*/
#tableStyle {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 2px;
}

#tableStyle td, #tableStyle th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableStyle tr:nth-child(even) {
  background-color: #f2f2f2;

}

#tableStyle tr:hover {
  background-color: #ddd;
}

#tableStyle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1177d1;
  color: white;
  width: auto;
  text-align: center;
}

#tableStyle td a {
  background-color: #065b7a;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  z-index: -1;
}

.close, .subclose {
  color: #aaa;
  float: right;
  font-size: 35px;
  
  /*background-color: grey;*/
  padding: 5px;
  margin-left: 15px;
  margin-top: 2px;
  border-radius: 10px;
}

.close:hover,
.close:focus, .subclose:hover, .subclose:focus {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: #065b7a;
}

.modal-content {
  background-color: #fefefe;
  margin-top: 10px; /* 15% from the top and centered */
  margin-bottom: 10px;
  border: 2px solid #888;
  width: auto;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}
.modal-content h1 {
  font-size: 20px;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
}


/*------------------------SCROLL UP BUTTON---------------------*/
#myTopBtn {
  /*display: none;*/
  /*position: fixed;*/
  /*bottom: 20px;*/
  /*right: 30px;*/
  /*z-index: 99;*/
  margin-left: 93%;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1177d1;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myTopBtn:hover {
  background-color: #065b7a;
  font-weight: bold;
}

#myInput {
  background-image: url(../img/icons8-search-64.png);
  background-size: 30px;
  background-position: 5px 8px;
  background-repeat: no-repeat;
  width: 99%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #065b7a;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: -5px;
  margin-right: 0px;
}

.searchBar {
  border-radius: 10px;
}


/*------------------------Passwrod verification---------------------*/

/* The message box is shown when the user clicks on the password field */
#message, #usernameMSG {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  width: 80%;
}

#message p, #usernameMSG p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #065b7a;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: crimson;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/*Add a tooltip to the content form*/
.tooltip {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.tooltip .tooltiptext {
  font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: #065b7a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  /* bottom: 125%; */
  left: 580%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #065b7a transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}